# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Build / Dependency Targets
**/target/
**/node_modules/
**/dist/
**/build/
**/out/
**/bin/

# Java / Spring Boot Class files
*.class
*.log
*.log.*
*.temp
*.tmp

# Credentials & Configurations
**/src/main/resources/application.yml
**/src/main/resources/application.properties
.env
.env.local
.env.*.local

# Exclude all frontend files except services/api files
/frontend/*
!/frontend/public-portal/
!/frontend/admin-portal/

/frontend/public-portal/*
/frontend/admin-portal/*
!/frontend/public-portal/src/
!/frontend/admin-portal/src/

/frontend/public-portal/src/*
/frontend/admin-portal/src/*
!/frontend/public-portal/src/services/
!/frontend/admin-portal/src/services/
