@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50 antialiased;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Reset inner input styling for HeroUI Inputs to prevent browser/autofill visual bugs */
input[data-slot="input"] {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

/* Handle Autofill styles gracefully */
input[data-slot="input"]:-webkit-autofill,
input[data-slot="input"]:-webkit-autofill:hover, 
input[data-slot="input"]:-webkit-autofill:focus, 
input[data-slot="input"]:-webkit-autofill:active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none !important;
}

